    body {
        background-color: rgb(250, 250, 250);
    }
    
    .fullScreenFrame>div {
        display: flex;
        justify-content: center;
    }
    
    h1 {
        text-align: center;
        color: purple;
    }